[submodule "Implicit_Neural_Representations/SIREN/siren"]
	path = Implicit_Neural_Representations/SIREN/siren
	url = https://github.com/vsitzmann/siren.git
[submodule "Implicit_Neural_Representations/NeRV/NeRV"]
	path = Implicit_Neural_Representations/NeRV/NeRV
	url = https://github.com/haochen-rye/NeRV.git
[submodule "Implicit_Neural_Representations/MetaSDF/metasdf"]
	path = Implicit_Neural_Representations/MetaSDF/metasdf
	url = https://github.com/vsitzmann/metasdf.git
[submodule "Implicit_Neural_Representations/IDM/IDM"]
	path = Implicit_Neural_Representations/IDM/IDM
	url = https://github.com/Ree1s/IDM
